include mixins

+html('pipeline: ' + pipeline.name)
  div.row
    div.col-md-12
      h1.title= pipeline.name
    each stage in stages
      div.col-md-3.stage
        h2= stage.name
        each box in stage.boxes
          div.box
            h3= box.name
            div= box.notes
